<head>
    <title>Tobias Seim Legal Notice</title>
    <link rel="stylesheet" href="static/style_legalnotice.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
</head>
<body oncontextmenu="return false">
 <div class="bg_images">
    <img src="/static/images/bg.png" alt="overlay" class="bg">
    <img src="/static/images/left-page.png" alt="notes on paper" class="bg_left">
    <img src="/static/images/right-page.png" alt="notes on paper" class="bg_right">
</div>
<div class="back_button">
    <a href="/">
        <span class="arrow"><-</span>  back
    </a>
</div>

<div class="container">

    <h1>legal notice</h1>

    <p>Information according to § 5 TMG (German Telemedia Act):</p>

    <p>
    Tobias Seim<br>
    c/o Postflex #8857<br>
    Emsdettener Str. 10<br>
    48268 Greven
    </p>

    <p>
    Email: seimtobias@pm.me<br>
    Website: www.seimtobias.com
    </p>

    <h2>Responsible for the content according to § 55 Abs. 2 RStV:</h2>
    <p>
    Tobias Seim<br>
    c/o Postflex #8857<br>
    Emsdettener Str. 10<br>
    48268 Greven
    </p>

    <h2>Disclaimer:</h2>
    <h3>Liability for contents</h3>
    <p>
    The contents of our pages were created with great care. However, we cannot guarantee the accuracy, completeness and up-to-dateness of the contents.
    </p>

    <h3>Liability for links</h3>
    <p>
    Our website contains links to external websites. We have no influence on the contents of these third-party websites. Therefore, we cannot assume any liability for these external contents. The respective provider or operator is always responsible for the contents of the linked pages.
    </p>

    <h3>Copyright</h3>
    <p>
    The content and works on this website created by the site operator are subject to German copyright law. Duplication, processing, distribution, or any form of commercialization of such material beyond the scope of the copyright law requires the prior written consent of its respective author or creator.
    </p>
</div>
</body>