<head>
    <title>Tobias Seim Privacy Policy</title>
    <link rel="stylesheet" href="static/style_privacypolicy.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
</head>
<body oncontextmenu="return false">
 <div class="bg_images">
    <img src="/static/images/bg.png" alt="overlay" class="bg">
    <img src="/static/images/left-page.png" alt="notes on paper" class="bg_left">
    <img src="/static/images/right-page.png" alt="notes on paper" class="bg_right">
</div>
<div class="back_button">
    <a href="/">
        <span class="arrow"><-</span>  back
    </a>
</div>

<div class="container">

    <h1>Privacy Policy</h1>

<p>
This privacy policy informs you about the nature, scope and purpose of the processing of personal data on this website in accordance with the General Data Protection Regulation (GDPR).
</p>

<h2>1. Data controller</h2>
<p>
[Full Name] <br>
[Street Address] <br>
[Postal Code] [City] <br>
Email: [Email Address]
</p>

<h2>2. Data collection and processing</h2>
<p>
We do not collect any personal data unless you voluntarily provide such data (e.g. via email). When visiting our website, certain technical data (e.g. browser type, time of access, visited pages) may be automatically collected for server security and statistical purposes.
</p>

<h2>3. Third-party content</h2>
<p>
This website contains links to third-party platforms (e.g. social media or Amazon). When you click on such links, you will be redirected to the respective service, and their privacy policies apply. We do not use affiliate tracking.
</p>

<h2>4. Your rights</h2>
<p>
You have the right to request information about your stored personal data, its origin and recipients, as well as the purpose of data processing. You also have the right to rectification, blocking or erasure of this data. You can contact us at any time using the contact details provided in the imprint.
</p>

<h2>5. Contact</h2>
<p>
If you have any questions regarding data protection, please feel free to contact us at [Email Address].
</p>

</div>
</body>